VITE_COGNITO_AUTHORITY=https://cognito-idp.eu-north-1.amazonaws.com/<POOL_ID>
VITE_COGNITO_CLIENT_ID=<CLIENT_ID>
VITE_COGNITO_DOMAIN=https://<YOUR_DOMAIN>.auth.<REGION>.amazoncognito.com

VITE_API_BASE=http://localhost:8080
