VITE_COGNITO_AUTHORITY=https://cognito-idp.eu-north-1.amazonaws.com/<POOL_ID>
VITE_COGNITO_CLIENT_ID=<CLIENT_ID>
VITE_COGNITO_DOMAIN=https://<YOUR_DOMAIN>.auth.<REGION>.amazoncognito.com

VITE_REDIRECT_URI=http://localhost:5173/callback
VITE_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/
VITE_API_BASE=http://localhost:8080
VITE_GOOGLE_OAUTH2_URL=http://localhost:8080/oauth2/authorization/google
